* {
    margin: 0;
    padding: 0;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
    font-family: "Quicksand";
    font-optical-sizing: auto;

}

/*primary css */
.list {
    list-style: none;
}

.list-primary {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

/* emd primary css */
.all-background-img {
    background-image: linear-gradient(rgba(247, 244, 241, 0.377), rgba(221, 221, 212, 0.445), rgba(253, 207, 3, 0.425)), url(../img/bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.background-border-width {
    max-width: 1160px;
    margin: 0 auto;
}

/* nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cutepi-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cutepi-h {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.list-1 {
    color: rgb(254, 163, 1);
}

.list-2 {
    color: rgb(1, 172, 253);
}

.list-3 {
    color: rgb(5, 212, 223);
}

.list-4 {
    color: rgb(93, 88, 239);
}

.contact-btn {
    margin: 8px;
    padding: 10px 20px;
    background-color: rgb(254, 163, 1);
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

.hidden-menu {
    display: none;
}

/* banner */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px;
    /* margin-bottom: 60px; */
}

.banner-h {
    margin-bottom: 40px;
    font-size: 3.6rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.banner-s {
    color: rgb(254, 163, 1);
}

.banner-span {
    color: rgb(1, 172, 253);
}

.banner-p {
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 20px;
}

.banner-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 50%;
}

/* standard section */
.standard-section-h {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.card-container-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-bottom: 60px;
}

.first-card-container {
    background: linear-gradient(rgba(148, 215, 243, 0.411), rgb(254, 255, 255), rgb(247, 252, 255));
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 19px;
    text-align: center;
}

.first-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card-h {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
}

.card-p {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
}

.card-btn {
    color: rgb(100, 200, 255);
    font-size: 15px;
    font-weight: 700;
    background-color: aliceblue;
    border: none;
}

/* 2nd */
.second-card-container {
    background: linear-gradient(rgba(235, 208, 149, 0.349), rgb(254, 255, 255), rgb(247, 252, 255));
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 19px;
    text-align: center;
}

.card-btn1 {
    color: rgb(240, 170, 0);
    font-size: 15px;
    font-weight: 700;
    border: none;
}

/* 3rd */
.third-card-container {
    background: linear-gradient(rgba(183, 139, 240, 0.548), rgb(254, 255, 255), rgb(247, 252, 255));
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 19px;
    text-align: center;
}

.card-btn3 {
    color: rgb(135, 0, 255);
    font-size: 15px;
    font-weight: 700;
    border: none;
}

/* arowe section */
.img-slider {
    text-align: center;
}

.slider1 {
    background-color: Orange;
    padding: 24px;
    font-size: 22px;
    margin: 4px;
    border-radius: 50%;
    border: none;
    color: aliceblue;
    margin-bottom: 60px;

}

/* storis-section */
.our-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
    margin-bottom: 80px;
    flex: 1;
}

.storis-container {
    background-color: aliceblue;
    border-radius: 13px;

}

.clolor-card {
    padding: 20px;
    display: grid;
    gap: 10px
}

.stories-img {
    width: 100%;
    border-radius: 16px;
}

.stories-btn {
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 15px 24px;
    border: none;
    margin-bottom: 12px;
}

.stories-mar {
    position: relative;
    margin-top: -50px;
    margin-left: 30px;
}

/*  */
.contaner-card1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.storis-container1 {
    background-color: aliceblue;
    border-radius: 13px;
}

.clolor-card1 {
    padding: 20px;
    display: grid;
    gap: 10px
}

.stories-img1 {
    width: 100%;
    border-radius: 16px;
}

.stories-btn2 {
    border-radius: 47.93px;
    background: rgb(93, 88, 240);
    padding: 15px 24px;
    border: none;
    margin-bottom: 12px;
}

.stories-btn3 {
    border-radius: 48px;
    background: rgb(149, 178, 38);
    padding: 15px 24px;
    border: none;
    margin-bottom: 12px;
}

.stories-mar1 {
    position: relative;
    margin-top: -50px;
    margin-left: 30px;
}

.bg-color-footer {
    background-color: rgb(1, 172, 253);
    color: white;
    height: 500px;
}

.view {
    display: flex;
    justify-content: center;
}

.banner-btn2 {
    margin: 20px;
    padding: 10px 20px;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

/* footer setion */

.list-item1 {
    color: aliceblue;
}

.container-show {
    width: 400px;
    margin: 80px 0;
}

.Education-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.footer-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.About-school-h {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}




























































/* midiay quary */
@media screen and (max-width:576px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgb(254, 163, 1);
    }

    .list-item {
        display: none;
    }

    .cutepi-h {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .hidden-menu {
        display: flex;
    }

    /* nav compiled */
    .benner-section {
        text-align: center;
    }

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .card-container-all {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        margin: 10px;

    }

    /* slider */
    .img-slider {
        display: none;
    }

    /* our stories */
    .storis-container {

        display: none;
    }

    .contaner-card1 {
        margin: 10px;
    }

}